MONGO_URI=mongodb+srv://instraai:Instraai@cryptoloop-cluster.ijnvt3z.mongodb.net/instraai?retryWrites=true&w=majority&appName=cryptoloop-cluster
OPENAI_API_KEY=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
